
@{
    Layout = "~/Views/Shared/_Form.cshtml";
    ViewBag.Title = "ChangePassword";
}

<div class="c_align">
    <div class="card">
        <div class="bg-light rounded h-100 p-4">
            <h3 class="mb-4">Enter your current password</h3>
            @using (Html.BeginForm("ChangePasswordAction", "Login", FormMethod.Post, new { autocomplete = "off" }))
            {
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
                <a href="@Url.Action("Profile", "PrivateAccount")"><div class="btn btn-dark">Cancel</div></a>
            }
        </div>
    </div>
</div>

