
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="c_align">
    <div class="card">
        <div class="bg-light rounded h-100 p-4">
            <h1 class="mb-4">Login Form</h1>
            @using (Html.BeginForm("LoginAction", "Login", FormMethod.Post, new { autocomplete = "off" }))
            {
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" name="Username" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
                </div>
                @*<div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>*@
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a href="@Url.Action("Registration", "Login")"><div class="btn btn-success">Create an account</div></a>
                <a href="@Url.Action("Index", "Home")"><div class="btn btn-dark">Cancel</div></a>
            }
        </div>
    </div>
</div>