<div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
    <a href="@Url.Action("ChangePassword", "Login")" class="dropdown-item">Change Password</a>
    <a href="@Url.Action("Index", "Home")" class="dropdown-item">Home</a>
    <a href="@Url.Action("Logout", "Login")" class="dropdown-item">Log Out</a>
</div>
